<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

  <div class="container">
    {{#if msg}}
    <div class="alert alert-success alert-dismissible" style="width: 500px;"><a href="#" class="close"
        data-dismiss="alert" aria-label="close">&times;</a> <strong>{{msg}}</strong> </div>
    {{/if}}

    {{!-- Update News Post Form --}}

    <h3>Update Post</h3>
    {{#each data}}
    <form class="form-horizontal" action="updatepost" method="POST" enctype="multipart/form-data">
      <input type="hidden" value="{{this.postId}}" name="posid">
      <div class="form-group">
        <label class="control-label col-sm-2" for="fn">Edit Title:</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="nt" name="newtitle" value="{{this.title}}">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="filebutton">Current Image</label>
        <div class="col-md-4">
          <img src="/{{this.imageName}}" height="60" width="80" />
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="ln">Change Image:</label>
        <div class="col-sm-3">
          <input type="file" class="form-control" id="ib" name="newimg" value="{{this.imageName}}">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="desc">Edit Description:</label>
        <div class="col-sm-10">
          <textarea rows="5" cols="60" name="newdescrip">{{this.description}}</textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <input type="submit" value="Update News" class="btn btn-default">
        </div>
      </div>
    </form>
    {{/each}}
  </div>
</body>

</html>